@CHARSET "UTF-8";

/********************************************
 * CSS de la página de registro.
 ********************************************/
* {
    font-family: Arial, Helvetica, FreeSans, "Liberation Sans",
        "Nimbus Sans L", sans-serif;
}

html {
    background: none;
}

body {
    border-width: 0;
    padding: 30px;
    background: none;
}

#print-icon {
    display: none;
}

table, tr, td {
    page-break-inside: avoid;
}